html
	head
		title User
	body
		h1= "Welcome User!"
		form(method='GET' action='/home/user')
			button.btn.btn-primary(id='reservationbutton' type='submit') Create Reservation!

		ul(id='currentreservations')