body {
    font-family: sans-serif;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: flex-end; 
    background-color: #17426D;
    padding: 2vh 2vw 2vh 2vw;
}

#first-part{
    display: flex;
    justify-content: flex-start;
    align-items: flex-end; 
}


#logo{
    height: 8vh;
    padding-right: 1vw;
}

#title{
    font-size: 5vh;
    color: white;
}

#user{
    color: white;
    font-size: 3vh;
    text-align: right;
    float: right !important;
}

h6 {
    color: #d7a342;
}

#content {
    padding-left: 30px;
}

#new-res {
    margin-top: 20px;
    background-color: #6ab351;
    border: 0px;
    font-weight: bold;
}

#submit-res {
    background-color: #6ab351;
    border: 1px solid #6ab351;
}

h3 {
    margin-top: 20px;
}

.row {
    margin: 0;
}

.card {
    margin: 10px;
}

.edit {
    background-color: #4c719d;
    border: 0px;
}

#decline {
    margin-right: auto;
    font-weight: bold;
}
